/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right:  5px solid transparent;
  border-bottom: 5px solid;
  border-left:   5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}



/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;

/*  margin-top: -0.5em;*/
    padding: 0;
    color: #999;
    font-size: .92857em;
}

.blog-post-meta li {
    display: inline-block;
    margin: 2px 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid #EEE;
}

.blog-post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
}

.blog-post blockquote {
    /*font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;*/
    letter-spacing: 0.01rem;
    font-weight: 400;
    font-style: italic;
    border-left: 3px solid #57ad68;
    padding-left: 20px;
    margin-left: -23px;
    padding-bottom: 3px
}

/**
 * Comments
 */
#comments {
    padding-top: 15px;
}

.comment-list,.comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.comment-list li {
    padding: 14px;
    margin-top: 10px;
    border: 1px solid #EEE;
}

.comment-list li.comment-level-odd {
    background: #F6F6F3;
}

.comment-list li.comment-level-even {
    background: #FFF;
}

.comment-list li.comment-by-author {
    background: #FFF9E8;
}

.comment-list li .comment-reply {
    text-align: right;
    font-size: .92857em;
}

.comment-meta a {
    color: #999;
    font-size: .92857em;
}

.comment-author {
    display: block;
    margin-bottom: 3px;
    color: #444;
}

.comment-author .avatar {
    float: left;
    margin-right: 10px;
}

.comment-author cite {
    font-weight: bold;
    font-style: normal;
}

.comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #EEE;
}

.respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em;
}

#comment-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
}

#comment-form .required:after {
    content: " *";
    color: #C00;
}

/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
